<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<link rel="stylesheet" href="Style.css"  >
<title>Testing</title>
</head>
<body>
<nav>
<label class="Logo"><i>Infinite Impressions</i></label>
<ul>
<li><a href="#">Notifications</a></li>
<li><a href="#">Logout</a></li>
</ul>
</nav>
<div class="flex-container">
<div class="flex-box">
<a href="add_venue.html">Add Venue</a>
</div>
<div class="flex-box">
       <a href="/VenueList">View Venues</a>
</div>
<div class="flex-box">
       New Bookings
</div>
<div class="flex-box">
       Booking History
</div>
<div class="flex-box">
       View Feedback
</div>
</div>
</body>
</html>